

.featuredContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.featuredContainer h3{
    margin-top: 1rem;
    opacity: 0.8;
    font-size: 2rem;
}

.projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    height: 20rem;
    align-items: center;
}