
.header{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.title{
    margin: 0;
    letter-spacing: -0.025em;
    font-weight: bold;
    font-size: 3rem;
    line-height: 2.25rem;
    opacity: 0.8;
}

.desc{
    margin:1.5rem 0 0rem 0;
    font-size: 2rem;
    font-weight: inherit;
}

.para{
    font-weight: inherit;
    opacity: 0.8;
    font-size: 1.5rem;
}

.titleContainer{
    display: flex;
    justify-content: space-between;
}

.linksContainer{
    display: flex;
}

.linksContainer a{
    height: 2.5rem;
    margin-left: 0.5rem;
    padding: 0 1rem;
    background: linear-gradient(to right, #8476d0, #675ab5, #5648a9);
    color: white;
    font-weight: bold;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
}
