

.link{
    height: 2.5rem;
    margin-right: 0.5rem;
    padding: 0 1rem;
    background: linear-gradient(to right, #8476d0, #675ab5, #5648a9);
    color: white;
    font-weight: bold;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
}

.link svg{
    margin-right: 0.5rem;
    width: 1rem;
}