.nav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #5648a9;
    font-weight: bold;
    z-index: 99;
    position: fixed;
    background-color: rgb(249 250 251);
    padding: 2rem 18rem;
}

.nav ul{
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.nav ul li a{
    margin-right: 1.5rem;
}

.nav svg{
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}